@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MultiShop - Online Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
</head>

<body>

    @model Project.Models.Product

    <form method="post" asp-action="AddProduct" class="contact-form bg-light p-30" enctype="multipart/form-data">
        <div class="control-group">
            <label class="form-label">Name:</label>
            <input type="text" class="form-control" asp-for="Name" required />
        </div>
        <div class="control-group">
            <label class="form-label">Category:</label>
            <select class="form-control" asp-for="Category">
                <option value="Dresses">Dresses</option>
                <option value="Shirts">Shirts</option>
                <option value="Jeans">Jeans</option>
                <option value="Swimwear">Swimwear</option>
                <option value="Sleepwear">Sleepwear</option>
                <option value="Sportswear">Sportswear</option>
                <option value="Jumpsuits">Jumpsuits</option>
                <option value="Blazers">Blazers</option>
                <option value="Jackets">Jackets</option>
                <option value="Shoes">Shoes</option>
            </select>
        </div>
        <div class="control-group">
            <label class="form-label">Image:</label>
            <input type="file" class="form-control" name="imageFile" required />
        </div>
        <div class="control-group">
            <label class="form-label">Description:</label>
            <textarea class="form-control" asp-for="Description" rows="8" required></textarea>
        </div>
        <div class="control-group">
            <label class="form-label">Price:</label>
            <input type="number" step="0.01" class="form-control" asp-for="Price" required />
        </div>
        <div class="control-group">
            <button type="submit" class="btn btn-primary py-2 px-4">Add Product</button>
        </div>
    </form>


</body>

</html>
